$primary: #fca311;
$secondary: #023047;
$background: #219ebc;
$border-color: #8ecae6;
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $background;
  color: $primary;
}
.row {
  margin-left: 50%;
  margin-right: 50%;
}
.navbar-light {
  .navbar-brand {
    color: $background;
	}

  .navbar-nav {
    .nav-link {
      color: $primary;
		}
	}
}

.navbar-text {
  color: #E5E5E5;
  display: inline-block;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.row {
  align-content: center;
  border: 10px;
  border-radius: 20px;
  border-color: $border-color;
  border-style: double;
  margin-left: 25%;
  min-width: 30%;
  text-align: center;
  color: white;
  width: 50%;
}

.post-list {
  list-style: none;
}

.wall {
  color: white;
  text-align: center;
}
